.parrafo {
  color: rgb(134, 5, 239);
  background: linear-gradient(
    135deg,
    rgba(255, 0, 0, 0.5) 0%,
    rgba(255, 255, 0, 0.5) 100%
  );
  font-size: 24px;
}

h1 {
  color: rgb(0, 255, 162);
}

img {
  width: 200px;
  height: 300px;
}
