* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #171d25;
  height: 100px;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif sans-serif;
  background-color: #202428;
  color: #dfe2e0;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 80px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #dfe2e0;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  margin-bottom: 50px;
  line-height: 1.4;
}

.titulo {
  padding-bottom: 30px;
  text-align: left;
}

.formulario {
  padding-top: 50 px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.parejas {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-bottom: 20px;
}

label {
  color: #dfe2e0;
  font-size: 1rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

input,
textarea,
select {
  padding: 0.75rem;
  background-color: #34353a;
  color: #dfe2e0;
  border-radius: 4px;
  border-color: #34353a;
  font-size: 1rem;
  width: 300px;
  height: 45px;
  text-align: center;
  text-align-last: center;
}

.capcha {
  width: 300px;
  height: auto;
  border-color: #dfe2e0;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 30px;
}

.check {
  width: 15px;
}

a {
  color: white;
  text-decoration: none;
}

button {
  margin-top: 40px;
  padding: 0.75rem;
  width: 200px;
  background: linear-gradient(#4493ed 0%, #2f2ad2 100%);
  color: #dfe2e0;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  cursor: pointer;
}
